<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Upload Product</title>
    <link rel="stylesheet" href="{% static 'css/upload.css' %}" />
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>

    <!-- Content -->
    <div class="content-container" style="background-image: url(static/images/bac.png);">
        <div class="add-item-container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload Product</button>
            </form>
            <a href="{% url 'product_list' %}" class="btn btn-success">Back to Products</a>
        </div>
    </div>

    </body>
</html>